@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body {
    min-height: 100%;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    text-align: center;
    color: white;
}


header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
}

a  {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0 10vh 30px;
    background-color: white;
    line-height: 3em;
    font-family: var(--fonte3);
    font-size: 1.5vw;
}

section.texto {
    background-color: white;
    color:  black;
}

section.imagem {

    color: white;
    background-color: rgba(0, 0, 0);
}

section.imagem p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.438);
}

section p {
    width: 400px;
    padding: 5px;
    font-size: 2.2em;
}

section#img1 {
    background: rgb(0, 95, 0) url('../imagens/background001.jpg') center center no-repeat scroll;
    background-size: contain;
}

section#img2 {
    background: rgb(225, 243, 162) url('../imagens/background002.jpg') center center no-repeat scroll;
}

footer {
    font-family: var(--fonte1);
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}