@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #D5E1DC, #7D8C87);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #535e5a69;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #E6C870;
    text-align: center;
    text-shadow: 1px 1px 2px #97844a79;
}

h2 {
    color: #6994D4;
}
p {
    text-align: justify;
}