<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad a voluptas esse saepe voluptate iure, doloremque excepturi dolorum pariatur tempore ullam veritatis, modi alias ut autem maiores? Quisquam, quas esse?</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>

</html>